.projectQRCode {
    overflow: hidden;
    background-color: white;
    .qrCodeImage {
        position: relative;
        .controlBox {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            opacity: 0;
            .downloadButton button {
                padding: 6px 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 18px;
                }
            }
            .deleteButton button {
                padding: 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 30px;
                }
            }
        }

        &:hover {
            .controlBox {
                opacity: 1;
            }
        }
    }
}
