// Body
$body-bg: #f8fafc;
$primary-main: #2e90fa;

$text-primary: #1d2939;
$text-disable: #667085;

$border-light: #e4e7ec;

$shadow-main: 5px 0px 24px rgba(16, 24, 40, 0.05);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
